@model IEnumerable<MVC5Course.Models.Course>

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function DetailsLoaded() {
            alert('資料載入成功!');
        }
    </script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    |

    @Ajax.ActionLink("取得時間", "GetTime", new AjaxOptions() { UpdateTargetId = "TimeSlot" })

    |

    <span id="TimeSlot"></span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Ajax.ActionLink("Details", "Details", new { id = item.CourseID }, new AjaxOptions() { UpdateTargetId = "details", Confirm = "你要載入這筆資料嗎？", InsertionMode = InsertionMode.Replace, OnSuccess = "DetailsLoaded" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>

<div id="details"></div>

